*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
}
.container{
    display: grid;
    place-items: center;
    margin-top: 30px;
}

h1{
    text-align: center;
    font-size: 2rem;
    font-family: Lobster, cursive;
    padding-top: 10px;
    color:rgb(46, 51, 56);
    text-shadow: 1px 1px 2px white;
}

.cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
}

.card{
    height: 140px;
    width: 120px;
    border-radius: 10px;
    background-image: url("./images/cute-colorful-kitten-pow-pattern-design/14710.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: 2px solid grey;
}

.card:hover{
    transform-scale:(1.02);
    box-shadow: 5px 5px 11px 0px rgba(0,0,0,0.75);
}

.card img{
    height: 80%;
    width: 100%;
    transition: 0.2rem;
    display: grid;
    place-items: center;
   padding-top: 13px;
   transition: 0,2s all ease;
   opacity: 0;
}

.card.clicked{
    background-image: none;
    background-color:lightseagreen;
}

.card.clicked img{
    opacity: 1;
}

.card.correct{
    background-color: mediumseagreen;
}